hmtl {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

div {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 15vw;
    height: 35vw;
    gap: 1em;
    
}

span {
    border: 1px solid black;
    padding: 1em 2em;
    flex-wrap: wrap;
}